<div class="booyah-box col-10 offset-1">
	<h1>Edit Your Place</h1>
	<%= simple_form_for @place do |f| %>
    <%= f.input :name %>
    <%= f.input :address %>
    <%= f.input :description %>
    <br />
    <%= f.submit 'Update', class: 'btn btn-primary' %>
  <% end %>

<div class="row">
  <% @place.photo.each do |photo| %>
    <div class="image_box">
        <%= link_to image_tag(photo.image), place_photo_path(@place, photo), method: :delete, class: 'img-fluid place_images' %>
          <div class="caption_spacing"><% if photo.caption.present? %>
            - <%= photo.caption %>
          <% end %></div>
    </div>
  <% end %>
  </div>
</div>